# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
aiohttp=3.9.5=py312h80987f9_0
aiosignal=1.2.0=pyhd3eb1b0_0
annotated-types=0.6.0=py312hca03da5_0
antlr4-python3-runtime=4.9.3=pypi_0
anyio=4.4.0=pypi_0
appnope=0.1.4=pyhd8ed1ab_0
asgiref=3.8.1=pypi_0
asttokens=2.4.1=pyhd8ed1ab_0
async-timeout=3.0.1=pypi_0
attrs=23.1.0=py312hca03da5_0
backoff=2.2.1=pypi_0
bcrypt=4.2.0=pypi_0
beautifulsoup4=4.12.3=pypi_0
bitarray=2.9.2=pypi_0
blas=1.0=openblas
blinker=1.8.2=pypi_0
boto3=1.35.6=pypi_0
botocore=1.35.6=pypi_0
brotli-python=1.0.9=py312h313beb8_8
bs4=0.0.2=pypi_0
build=1.2.1=pypi_0
bzip2=1.0.8=h99b78c6_7
ca-certificates=2024.7.4=hf0a4a13_0
cachetools=5.4.0=pypi_0
catalogue=2.0.10=pypi_0
certifi=2024.7.4=py312hca03da5_0
cffi=1.17.0=pypi_0
chardet=5.2.0=pypi_0
charset-normalizer=3.3.2=pyhd3eb1b0_0
chroma-hnswlib=0.7.3=pypi_0
chromadb=0.5.3=pypi_0
click=8.1.7=py312hca03da5_0
cohere=5.8.1=pypi_0
colbert-ai=0.2.19=pypi_0
coloredlogs=15.0.1=pypi_0
comm=0.2.2=pyhd8ed1ab_0
contourpy=1.2.1=pypi_0
cryptography=43.0.0=pypi_0
cycler=0.12.1=pypi_0
dataclasses-json=0.6.5=py312hca03da5_0
datasets=2.21.0=pypi_0
debugpy=1.8.2=py312h5c2e7bc_0
decorator=5.1.1=pyhd8ed1ab_0
deepdiff=8.0.1=pypi_0
deprecated=1.2.14=pypi_0
dill=0.3.8=pypi_0
dirtyjson=1.0.8=pypi_0
distro=1.9.0=pypi_0
dnspython=2.6.1=pypi_0
effdet=0.4.1=pypi_0
email-validator=2.2.0=pypi_0
emoji=2.12.1=pypi_0
et-xmlfile=1.1.0=pypi_0
exceptiongroup=1.2.2=pyhd8ed1ab_0
executing=2.0.1=pyhd8ed1ab_0
faiss-cpu=1.8.0.post1=pypi_0
fast-pytorch-kmeans=0.2.0.1=pypi_0
fastapi=0.111.1=pypi_0
fastapi-cli=0.0.4=pypi_0
fastavro=1.9.5=pypi_0
filelock=3.15.4=pypi_0
filetype=1.2.0=pypi_0
flask=3.0.3=pypi_0
flatbuffers=24.3.25=pypi_0
fonttools=4.53.1=pypi_0
frozenlist=1.4.0=py312h80987f9_0
fsspec=2024.6.1=pypi_0
git-python=1.0.3=pypi_0
gitdb=4.0.11=pypi_0
gitpython=3.1.43=pypi_0
google-ai-generativelanguage=0.6.6=pypi_0
google-api-core=2.19.1=pypi_0
google-api-python-client=2.141.0=pypi_0
google-auth=2.32.0=pypi_0
google-auth-httplib2=0.2.0=pypi_0
google-cloud-vision=3.7.4=pypi_0
google-generativeai=0.7.2=pypi_0
googleapis-common-protos=1.63.2=pypi_0
gpt4all=2.8.0=pypi_0
greenlet=3.0.3=pypi_0
groq=0.9.0=pypi_0
grpcio=1.64.1=pypi_0
grpcio-status=1.62.3=pypi_0
h11=0.14.0=pypi_0
httpcore=1.0.5=pypi_0
httplib2=0.22.0=pypi_0
httptools=0.6.1=pypi_0
httpx=0.27.0=pypi_0
httpx-sse=0.4.0=pypi_0
huggingface-hub=0.24.5=pypi_0
humanfriendly=10.0=pypi_0
icu=73.2=hc8870d7_0
idna=3.7=py312hca03da5_0
importlib-metadata=8.0.0=pypi_0
importlib-resources=6.4.0=pypi_0
importlib_metadata=8.2.0=hd8ed1ab_0
iopath=0.1.10=pypi_0
ipykernel=6.29.5=pyh57ce528_0
ipython=8.26.0=pyh707e725_0
itsdangerous=2.2.0=pypi_0
jedi=0.19.1=pyhd8ed1ab_0
jinja2=3.1.4=pypi_0
jiter=0.5.0=pypi_0
jmespath=1.0.1=pypi_0
joblib=1.4.2=pypi_0
jsonlines=4.0.0=pypi_0
jsonpatch=1.33=py312hca03da5_1
jsonpath-python=1.0.6=pypi_0
jsonpointer=2.1=pyhd3eb1b0_0
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2023.12.1=pypi_0
jupyter_client=8.6.2=pyhd8ed1ab_0
jupyter_core=5.7.2=py312h81bd7bf_0
kiwisolver=1.4.5=pypi_0
krb5=1.21.3=h237132a_0
kubernetes=30.1.0=pypi_0
langchain=0.2.15=pypi_0
langchain-chroma=0.1.3=pypi_0
langchain-community=0.2.14=pypi_0
langchain-core=0.2.36=pypi_0
langchain-experimental=0.0.63=pypi_0
langchain-google-genai=1.0.8=pypi_0
langchain-groq=0.1.9=pypi_0
langchain-nomic=0.1.2=pypi_0
langchain-ollama=0.1.1=pypi_0
langchain-openai=0.1.20=pypi_0
langchain-text-splitters=0.2.2=pyhd8ed1ab_0
langchainhub=0.1.20=pyhd8ed1ab_0
langdetect=1.0.9=pypi_0
langgraph=0.1.19=pyhd8ed1ab_0
langserve=0.2.2=pypi_0
langsmith=0.1.96=pypi_0
layoutparser=0.3.4=pypi_0
libcxx=18.1.8=h167917d_2
libedit=3.1.20191231=hc8eb9b7_2
libexpat=2.6.2=hebf3989_0
libffi=3.4.2=h3422bc3_5
libgfortran=5.0.0=11_3_0_hca03da5_28
libgfortran5=11.3.0=h009349e_28
libopenblas=0.3.21=h269037a_0
libsodium=1.0.18=h27ca646_1
libsqlite=3.46.0=hfb93653_0
libuv=1.48.0=h80987f9_0
libzlib=1.3.1=hfb2fe0b_1
llama-cloud=0.0.15=pypi_0
llama-index=0.11.1=pypi_0
llama-index-agent-openai=0.3.0=pypi_0
llama-index-cli=0.3.0=pypi_0
llama-index-core=0.11.1=pypi_0
llama-index-embeddings-openai=0.2.3=pypi_0
llama-index-indices-managed-llama-cloud=0.3.0=pypi_0
llama-index-legacy=0.9.48.post3=pypi_0
llama-index-llms-openai=0.2.0=pypi_0
llama-index-multi-modal-llms-openai=0.2.0=pypi_0
llama-index-program-openai=0.2.0=pypi_0
llama-index-question-gen-openai=0.2.0=pypi_0
llama-index-readers-file=0.2.0=pypi_0
llama-index-readers-llama-parse=0.2.0=pypi_0
llama-parse=0.5.0=pypi_0
llvm-openmp=14.0.6=hc6e5704_0
loguru=0.7.2=pypi_0
lxml=5.3.0=pypi_0
markdown=3.7=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.5=pypi_0
marshmallow=3.19.0=py312hca03da5_0
matplotlib=3.9.0=pypi_0
matplotlib-inline=0.1.7=pyhd8ed1ab_0
mdurl=0.1.2=pypi_0
mmh3=4.1.0=pypi_0
monotonic=1.6=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.0.4=py312h80987f9_0
multiprocess=0.70.16=pypi_0
mypy_extensions=1.0.0=py312hca03da5_0
ncurses=6.5=hb89a1cb_0
neo4j=5.23.1=pypi_0
nest-asyncio=1.6.0=pyhd8ed1ab_0
networkx=3.3=pypi_0
ninja=1.11.1.1=pypi_0
nltk=3.9.1=pypi_0
nodejs=22.5.1=h3fe1c63_0
nomic=3.1.1=pypi_0
numexpr=2.10.1=pypi_0
numpy=1.26.4=py312h7f4fdc5_0
numpy-base=1.26.4=py312he047099_0
oauthlib=3.2.2=pypi_0
olefile=0.47=pypi_0
ollama=0.3.1=pypi_0
omegaconf=2.3.0=pypi_0
onnx=1.16.2=pypi_0
onnxruntime=1.18.1=pypi_0
openai=1.42.0=pypi_0
opencv-python=4.10.0.84=pypi_0
openpyxl=3.1.5=pypi_0
openssl=3.3.1=hfb2fe0b_2
opentelemetry-api=1.26.0=pypi_0
opentelemetry-exporter-otlp-proto-common=1.26.0=pypi_0
opentelemetry-exporter-otlp-proto-grpc=1.26.0=pypi_0
opentelemetry-instrumentation=0.47b0=pypi_0
opentelemetry-instrumentation-asgi=0.47b0=pypi_0
opentelemetry-instrumentation-fastapi=0.47b0=pypi_0
opentelemetry-proto=1.26.0=pypi_0
opentelemetry-sdk=1.26.0=pypi_0
opentelemetry-semantic-conventions=0.47b0=pypi_0
opentelemetry-util-http=0.47b0=pypi_0
orderly-set=5.2.2=pypi_0
orjson=3.9.15=py312hc9796cf_0
overrides=7.7.0=pypi_0
packaging=24.1=pyhd8ed1ab_0
pandas=2.2.2=pypi_0
parameterized=0.9.0=pypi_0
parso=0.8.4=pyhd8ed1ab_0
pbr=6.1.0=pypi_0
pdf2image=1.17.0=pypi_0
pdfminer-six=20231228=pypi_0
pdfplumber=0.11.4=pypi_0
pexpect=4.9.0=pyhd8ed1ab_0
pi-heif=0.18.0=pypi_0
pickleshare=0.7.5=py_1003
pikepdf=9.2.0=pypi_0
pillow=10.4.0=pypi_0
pip=24.2=pyhd8ed1ab_0
platformdirs=4.2.2=pyhd8ed1ab_0
playwright=1.45.1=pypi_0
portalocker=2.10.1=pypi_0
posthog=3.5.0=pypi_0
prompt-toolkit=3.0.47=pyha770c72_0
proto-plus=1.24.0=pypi_0
protobuf=4.25.4=pypi_0
psutil=6.0.0=py312h7e5086c_0
ptyprocess=0.7.0=pyhd3deb0d_0
pure_eval=0.2.3=pyhd8ed1ab_0
pyarrow=17.0.0=pypi_0
pyasn1=0.6.0=pypi_0
pyasn1-modules=0.4.0=pypi_0
pycocotools=2.0.8=pypi_0
pycparser=2.22=pypi_0
pydantic=2.8.2=pypi_0
pydantic-core=2.20.1=pypi_0
pyee=11.1.0=pypi_0
pygments=2.18.0=pyhd8ed1ab_0
pyjwt=2.9.0=pypi_0
pynvml=11.5.3=pypi_0
pypandoc=1.13=pypi_0
pyparsing=3.1.2=pypi_0
pypdf=4.3.1=pypi_0
pypdfium2=4.30.0=pypi_0
pypika=0.48.9=pypi_0
pyproject-hooks=1.1.0=pypi_0
pyproject-toml=0.0.10=pypi_0
pysocks=1.7.1=py312hca03da5_0
python=3.12.4=h30c5eda_0_cpython
python-dateutil=2.9.0=pyhd8ed1ab_0
python-docx=1.1.2=pypi_0
python-dotenv=0.21.0=py312hca03da5_0
python-iso639=2024.4.27=pypi_0
python-magic=0.4.27=pypi_0
python-multipart=0.0.9=pypi_0
python-oxmsg=0.0.1=pypi_0
python-pptx=1.0.2=pypi_0
python_abi=3.12=4_cp312
pytube=15.0.0=pypi_0
pytz=2024.1=pypi_0
pyyaml=6.0.1=py312h80987f9_0
pyzmq=26.0.3=py312hfa13136_0
qiskit=1.2.0=pypi_0
qiskit-aer=0.15.0=pypi_0
ragatouille=0.0.8.post4=pypi_0
rapidfuzz=3.9.6=pypi_0
readline=8.2=h92ec313_1
referencing=0.35.1=pypi_0
regex=2024.7.24=pypi_0
requests=2.32.3=py312hca03da5_0
requests-oauthlib=2.0.0=pypi_0
requests-toolbelt=1.0.0=pypi_0
rich=13.7.1=pypi_0
rpds-py=0.20.0=pypi_0
rsa=4.9=pypi_0
rustworkx=0.15.1=pypi_0
s3transfer=0.10.2=pypi_0
safetensors=0.4.3=pypi_0
scikit-learn=1.5.1=pypi_0
scipy=1.14.0=pypi_0
secedgar=0.5.0=pypi_0
sentence-transformers=2.7.0=pypi_0
setuptools=71.0.4=pyhd8ed1ab_0
shellingham=1.5.4=pypi_0
six=1.16.0=pyh6c4a22f_0
smmap=5.0.1=pypi_0
sniffio=1.3.1=pypi_0
soupsieve=2.5=pypi_0
sqlalchemy=2.0.30=py312h80987f9_0
srsly=2.4.8=pypi_0
sse-starlette=1.8.2=pypi_0
stack_data=0.6.2=pyhd8ed1ab_0
starlette=0.37.2=pypi_0
stevedore=5.3.0=pypi_0
striprtf=0.0.26=pypi_0
symengine=0.11.0=pypi_0
sympy=1.13.1=pypi_0
tabulate=0.9.0=pypi_0
tavily-python=0.3.5=pypi_0
tenacity=8.2.3=py312hca03da5_0
threadpoolctl=3.5.0=pypi_0
tiktoken=0.7.0=pypi_0
timm=1.0.9=pypi_0
tk=8.6.13=h5083fa2_1
tokenizers=0.19.1=pypi_0
toml=0.10.2=pypi_0
torch=2.4.0=pypi_0
torchvision=0.19.0=pypi_0
tornado=6.4.1=py312h7e5086c_0
tqdm=4.66.4=pypi_0
traitlets=5.14.3=pyhd8ed1ab_0
transformers=4.43.3=pypi_0
typer=0.12.3=pypi_0
types-requests=2.32.0.20240712=pyhd8ed1ab_1
typing-extensions=4.12.2=hd8ed1ab_0
typing_extensions=4.12.2=pyha770c72_0
typing_inspect=0.9.0=py312hca03da5_0
tzdata=2024.1=pypi_0
ujson=5.10.0=pypi_0
umap=0.1.1=pypi_0
unstructured=0.15.8=pypi_0
unstructured-client=0.25.5=pypi_0
unstructured-inference=0.7.36=pypi_0
unstructured-pytesseract=0.3.13=pypi_0
uritemplate=4.1.1=pypi_0
urllib3=2.2.2=py312hca03da5_0
uvicorn=0.30.4=pypi_0
uvloop=0.19.0=pypi_0
voyager=2.0.9=pypi_0
watchfiles=0.22.0=pypi_0
wcwidth=0.2.13=pyhd8ed1ab_0
websocket-client=1.8.0=pypi_0
websockets=12.0=pypi_0
werkzeug=3.0.4=pypi_0
wheel=0.43.0=pyhd8ed1ab_1
wrapt=1.16.0=pypi_0
xlrd=2.0.1=pypi_0
xlsxwriter=3.2.0=pypi_0
xxhash=3.5.0=pypi_0
xz=5.2.6=h57fd34a_0
yaml=0.2.5=h1a28f6b_0
yarl=1.9.3=py312h80987f9_0
youtube-transcript-api=0.6.2=pypi_0
zeromq=4.3.5=hcc0f68c_4
zipp=3.19.2=pyhd8ed1ab_0
zlib=1.3.1=hfb2fe0b_1
